amqp==5.0.2
appdirs==1.4.4
asgiref==3.3.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
bs4==0.0.1
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cssselect==1.1.0
dateparser==1.0.0
Django==3.1.4
facebook-scraper==0.2.17
fake-useragent==0.1.11
idna==2.10
kombu==5.0.2
lxml==4.6.2
parse==1.18.0
prompt-toolkit==3.0.8
pyee==7.0.4
pyppeteer==0.2.2
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2020.4
regex==2020.11.13
requests==2.25.1
requests-html==0.10.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
tqdm==4.54.1
tzlocal==2.1
urllib3==1.26.2
vine==5.0.0
w3lib==1.22.0
wcwidth==0.2.5
websockets==8.1
